/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none
}

a:focus,
a:active {
    outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
    display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjusst: 100%;
    -moz-text-size-adjusst: 100%;
    -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
    font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-innesr {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
.wrapper {

}
.container{
  
    max-width: 1220px;
    /* background: rgb(113, 208, 205); */
    margin: 0 auto;
}

.header {
    height: 125px;  
    padding-top: 13px;
}

.header__container {
   
}
.header__container >*{
    display: inline-block;
    vertical-align: middle;
}
.header__logo {
    margin-right: 45px;

}

.header__link {

}

.header__image {

}

.header__button {
    display: inline-block;
    min-height: 40px;
    padding: 9px 15px;
    background: #2CB708;
    border-radius: 5px;
    margin-right: 45px;
}
.header__button >* {
display: inline-block;
vertical-align: middle;
}

.button {

}

.button__icon {
    color: #FFFFFF;
}

.button__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}
.header__search {
  
}

.search {
border: 1px solid #2CB708;
    border-radius: 10px;
    height: 40px;
    width: 419px;
    overflow: hidden;
    margin-right: 45px;
}
.search>*{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.search__input {
    padding-left: 5px;
    width: 90%;

}

.search__button {
    width: 9.14%;
    background: #2CB708;
}

.search__icon {
    color: #fff;
    
}
.header__service {
    

}

.header__list>* {
display: inline-block;
}

.list {
  
    
}



.list__item {
    margin-right: 48px;
    vertical-align: middle;
    width: 40px;
}

.list__item.last{
    margin-right: 0;
}

.list__icon {
   
    margin:0 0 12px 7px;
    color: #333232;

}

.list__text {
    font-weight: 400;
        font-size: 14px;
        line-height: 16px;
         color: #333232;

}




